<div class="col-sm-6">
    <ul class="list-group">
        <li *ngFor="let subject of subjects; let i = index" class="list-group-item">
            <app-subject-item (subjectToDelete)="deleteSubject($event)" [subjectIndex]="i" [subjectName]="subject"></app-subject-item>
        </li>
    </ul>

    <div *ngIf="authService.role === 'admin' || authService.role === 'teacher'" class="form-group">
        <label for="subjectName">New subject</label>
        <!--Usage of local References-->
        <input #newSubjectInput type="text" class="form-control" id="subjectName" placeholder="Name">
    </div>
    <button *ngIf="authService.role === 'admin' || authService.role === 'teacher'" (click)="addNewSubject(newSubjectInput)" class="btn btn-primary">Add</button>
</div>

